set_io    reset 35
set_io    rd    27
set_io    cs    25
set_io    wr    26
set_io    rs    36
set_io    data[0] 34
set_io    data[1] 32
set_io    data[2] 31
set_io    data[3] 28
set_io    data[4] 48
set_io    data[5] 47
set_io    data[6] 46
set_io    data[7] 45
set_io    data[8] 44
set_io    data[9] 43
set_io    data[10] 42
set_io  -pullup yes  -pullup_resistor 3P3K data[11] 41 
set_io  -pullup yes  -pullup_resistor 3P3K data[12] 40
set_io  -pullup yes  -pullup_resistor 3P3K data[13] 39
set_io    data[14] 38
set_io    data[15] 37
set_io    has_data 12

set_io    conv          21
set_io    adc_cs        20
set_io    ready_strobe  2
set_io    sclk          18
set_io    mosi          19

set_io    miso_a[1]     4
set_io    miso_a[0]     3

set_io    miso_b[1]     11
set_io    miso_b[0]     10