set_io    reset 23
set_io    rd    27
set_io    cs    25
set_io    wr    26
set_io    rs    36
set_io    data[0] 34
set_io    data[1] 32
set_io    data[2] 31
set_io    data[3] 28
set_io    data[4] 48
set_io    data[5] 47
set_io    data[6] 46
set_io    data[7] 45
set_io    data[8] 44
set_io    data[9] 43
set_io    data[10] 42
set_io    data[11] 41
set_io    data[12] 40
set_io    data[13] 39
set_io    data[14] 38
set_io    data[15] 37
set_io    has_data 12
set_io    conv 21